.header {
  padding: 14px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_icon {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header_icon_name {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--white-400);
}
