.button {
  padding: 8px 12px;
  border: none;
  background: var(--primary-color);
  font-size: var(--fs-medium);
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 6px;
  line-height: 20px;
  border-radius: 6px;
}

.button:hover {
  opacity: 85%;
  cursor: pointer;
}

.primary_button {
  box-shadow: 0 0 0 1px #1f6619, 0 1px 2px #1f661966, inset 0 0.75px #ffffff33;
}

.primary_button span {
  color: var(--neutral-950);
}

.bordered_button {
  background: var(--background-bg-disabled);
  box-shadow: 0 0 0 1px #00000014, 0 1px 2px #0000001f;
  color: var(--foregrounds-fg-base);
}

.link_button {
  padding: 4px 8px;
  background: none;
  color: var(--neutral-400);
}

.pill_button {
  padding: 6px 10px;
  border-radius: 100px;
  font-size: var(--fs-small);
}

.disabled_button span {
  color: var(--foregrounds-fg-disabled);
}

.disabled_button:hover {
  opacity: 70%;
  cursor: not-allowed;
}

@media screen and (max-width: 480px) {
  .responsive_button {
    padding: 10px 12px;
  }
  .responsive_button_text {
    display: none;
  }
}
