*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-background-bg-base);
  height: 100vh;
  font-family: "Inter", sans-serif;
}

#root {
  height: 100%;
}

#root > div[data-rk] {
  height: 100%;
}
